@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/fonts/icomoon.eot');
  src: url('../fonts/icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/fonts/icomoon.woff') format('woff'), url('../fonts/icomoon/fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 100%;
  font-family: Segoe UI;
  color: #51b881;
  background-color: #e4e8e9;
}
a {
  color: #41a871;
  font-weight: bold;
}
input {
  display: block;
  font-size: 1em;
  width: 100%;
  border: 1px solid #d7e1e2;
  padding: 0.6em;
  margin-bottom: 0.5em;
}
label {
  color: #9cb5b7;
}
input:focus {
  border: 1px solid #51b881;
  outline: none;
}
input::-webkit-input-placeholder {
  color: #d7e1e2;
}
button {
  background-color: #51b881;
  border: none;
  color: #ffffff;
  padding: 1em;
  min-width: 40%;
  float: right;
}
button.full {
  width: 100%;
  float: none;
}
* img {
  display: block;
  max-width: 100%;
}
.clearfix:after {
  display: block;
  content: " ";
  clear: both;
}
div.nav {
  background-color: #262626;
  box-shadow: 0px 1px 1px 1px #000;
  position: relative;
  z-index: 999;
}
h1 {
  color: #fff;
  font-size: 2em;
  text-shadow: 1px 1px #d1d1d1;
  line-height: 1em;
}
h2 {
  font-size: 1.1em;
  font-weight: normal;
}
div.nav ul:after {
  content: " ";
  clear: both;
  display: block;
}
div.nav ul li {
  float: left;
  width: 25%;
  border-left: 1px solid #212223;
}
div.nav ul li:first-child {
  border-left: none;
}
div.nav ul li a {
  background-color: #282a29;
  display: block;
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
  font-weight: bold;
  color: #606261;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
div.nav ul li a.active {
  background-color: #212223;
  color: #fff;
}
div.section {
  margin: 1em;
  margin-bottom: 0;
}
div.section.full {
  margin: 0 0 1px 0;
  padding: 1em;
  background-color: #ffffff;
}
div.section.full h2 {
  color: #333;
  font-weight: bold;
}
div.section.intro {
  background-color: #51b881;
  color: #ffffff;
}
div.section.intro span {
  display: block;
}
div.section.intro div.course-info {
  float: left;
}
div.section.intro div.status {
  float: right;
  font-size: 1.2em;
}
div.section.intro div.status span.hole {
  border-bottom: 1px solid #fff;
  font-size: 1.2em;
}
div.section.filled span {
  font-size: 1.5em;
  color: #c1c1c1;
}
div.section.grid-3 > * {
  display: block;
  width: 33.3333%;
  float: left;
}
div.section.center {
  text-align: center;
}
div.section.last {
  position: absolute;
  bottom: 1em;
}
div.start-img {
  width: 30%;
  margin: 0 auto;
  margin-top: 2em;
}
label.radio {
  display: block;
}
input[type="radio"] {
  display: inline;
  width: auto;
  margin-left: 0.5em;
}
ul.tabs:after {
  clear: both;
  display: block;
  content: " ";
}
ul.tabs li {
  float: left;
  width: 33.33333%;
  text-align: center;
  background-color: #d6dcde;
  padding: 0.5em;
  color: #9eacb0;
  cursor: pointer;
}
ul.tabs li.active {
  background-color: #fff;
  color: #333;
}
div.tab-content {
  background-color: #fff;
  color: #333;
}
div.tab-content ul li {
  padding: 0.5em 1em;
}
/*Specifics*/
span.course {
  font-size: 1.4em;
}
span.club {
  font-size: 1em;
  font-weight: bold;
}
div.browse-clubs {
  padding-top: 0.3em;
}
div.browse-clubs div.search-wrapper {
  margin: 0 1em;
  position: relative;
}
div.browse-clubs div.search-wrapper:after {
  color: #d7e1e2;
  font-size: 1.2em;
  top: 0.4em;
}
div.browse-clubs div.search-wrapper input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 1.5em;
}
[class*='icon-']:after {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  position: absolute;
}
.icon-search:after {
  content: "\e080";
}
